@page
@model AspnetCoreStarter.Pages.IndexModel
@{
  ViewData["Title"] = "Home - Starter Kit";
}

@* ************** Content ************** *@
<h4 class="py-3 mb-4">Page 1</h4>
<p>Sample page.<br />For more layout options, refer <a href='@TempData.Peek("documentation")' target="_blank" class="fw-medium">Layout docs</a>.</p>
